<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bbsUser">
	<update id="create" parameterType="bbsUserDTO" >
		<![CDATA[
		insert into tb_bbs_user
		(
		user_id
		,user_email
		,user_name
		,user_pwd
		,user_phone
		,user_status_code
		,user_type_code
		,create_date
		,create_user_id
		,update_date
		,update_user_id
		,user_key
		,use_yn
		)
		values
		(
		 #{user_id}
		,#{user_email}
		,#{user_name}
		,#{user_pwd}
		,#{user_phone,jdbcType=VARCHAR}
		,#{user_status_code,jdbcType=VARCHAR}
		,#{user_type_code,jdbcType=VARCHAR}
		,sysdate
		,#{create_user_id,jdbcType=VARCHAR}
		,sysdate
		,#{update_user_id,jdbcType=VARCHAR}
		,#{user_key,jdbcType=VARCHAR}
		,#{use_yn,jdbcType=CHAR}
		)
		]]>
	</update>
	<select id="detail" parameterType="hashMap" resultType="bbsUserDTO">
		select 
			user_id
			,user_email
			,user_name
			,user_pwd
			,user_phone
			,user_status_code
			,user_type_code
			,create_date
			,create_user_id
			,update_date
			,update_user_id
			,user_key
		from 
		tb_bbs_user
		where
		user_id=#{user_id}
	
	</select>
	
</mapper>